
  <div class="nameTag" style="width: 650px;">
    <table style="background-color: lightcyan; ; width: 650px;">
      <colgroup>
        <th width="160px"></th>
        <th width="250px"></th>
        <th width="150px"></th>
        <th></th>
      </colgroup>
      <tr>
        <td>First Name :</td>
        <td><%= fields.customer_first_name.here() %></td>
        <td>Middle initial :</td>
        <td><%= fields.customer_middle_initial.here() %></td>

      </tr>
      <tr>
        <td>Last Name :</td>
        <td><%= fields.customer_last_name.here() %></td>
        <td>Suffix :</td>
        <td>
          <%= fields.customer_suffix.here() %>
        </td>
      </tr>
    </table>
  </div>
  <div class="addressTag" style="width: 650px;">
    <table style="; width: 650px;">
      <colgroup>
        <th width="160px"></th>
        <th width="250px"></th>
        <th width="150px"></th>
        <th></th>
      </colgroup>
      <tr>
        <td>Mailing Address :</td>
        <td><%= fields.customer_mailing_address.here() %></td>
        <td>Apt./Unit # :</td>
        <td><%= fields.customer_apt_unit_number.here() %></td>
      </tr>
      <tr>
        <td>City :</td>
        <td><%= fields.customer_city.here() %> , MO</td>
        <td>Zip code :</td>
        <td><%= fields.customer_zip_code.here() %></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3"><input type="checkbox">Check this box if this is a P.O.Box or military address
        </td>
      </tr>
      <tr>
        <td>Data of birth :</td>
        <td>
          <%= fields.customer_birth_date.here() %>
        </td>
        <td colspan="2"></td>
      </tr>
    </table>

    <div>
      <span style="color: #f6a828"><h4>Information Disclosure</h4></span>

      <div style="height: 100px; border: solid 1px; overflow: auto">
        <table style="width: 620px;">
          <tr>
            <td style="height:100px; word-break: break-all;">
              This collection of information is required by 37 CFR 1.97 and 1.98. The information is
              required to obtain or retain a benefit by the public which is to file (and by the USPTO to
              process) an application. Confidentiality is governed by 35 U.S.C. 122 and 37 CFR 1.14. This
              collection is estimated to take 1 hour to complete, including gathering, preparing and
              submitting the completed application form to the USPTO. Time will vary depending upon
              the individual case. Any comments on the amount of time you require to complete this form
              and/or
              suggestions for reducing this burden, should be sent to the Chief Information Officer, U.S.
              Patent and Trademark Office, U.S. Department of Commerce, P.O. Box 1450, Alexandria,
              VA 22313-1450. DO NOT SEND FEES OR COMPLETED FORMS TO THIS ADDRESS. SEND TO:
              Commissioner for Patents, P.O. Box 1450, Alexandria, VA 22313-1450.
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br>

  </div>