<table style="width: 650px; ">
  <tr style="background-color: #ebebeb;">
    <td style="width: 220px; height: 35px;">Gender :</td>
    <td>
      <%= fields.customer_gender.here() %>
    </td>
  </tr>
  <tr>
    <td>Marital status :</td>
    <td>
      <%= fields.customer_marital_status.here() %>
    </td>
  </tr>
  <tr>
    <td>Primary residence :</td>
    <td>
      <%= fields.customer_primary_residence.here() %>
    </td>
  </tr>
  <tr>
    <td>Current U.S or Canadian<br>License status :</td>
    <td>
      <%= fields.customer_driver_license_status.here() %>
    </td>
  </tr>
  <tr>
    <td>Social Security Number</td>
    <td>
      <%= fields.customer_social_security_number.here() %>
    </td>
  </tr>
  <tr>
    <td>Highest level of education :</td>
    <td>
      <%= fields.customer_highest_education_level.here() %>
    </td>
  </tr>
</table>
<br>

<table>
  <tr>
    <td width="400px">Have you moved in the last 60 days?</td>
    <td style="text-align: center; ">
      <%= fields.customer_move_history.here() %>
    </td>
  </tr>
  <tr style="height: 10px"></tr>
  <tr>
    <td>
      Has this driver had any : <br>
      <li> At Fault Accidents in the last 5 years, or</li>
      <li> Not At Fault Accidents, Claims or Violations in the last 3 years?</li>
    </td>
    <td style="text-align: center; ">
      <%= fields.customer_accident_history.here() %>

    </td>
  </tr>
</table>
