<div class="vehicleTag" style="width: 400px; ">
  <table style="width: 400px; border: solid 1px; border-radius: 10px;">
    <colgroup>
      <th width="80px"></th>
      <th></th>
    </colgroup>
    <tr>
      <td>Type :</td>
      <td>
        <%= fields.vehicle_type.here() %>
      </td>
    </tr>
    <tr>
      <td>Year :</td>
      <td>
        <%= fields.vehicle_year.here() %>
      </td>
    </tr>
    <tr>
      <td>Make :</td>
      <td>
        <%= fields.vehicle_make.here() %>
      </td>
    </tr>
    <tr>
      <td>Model :</td>
      <td>
        <%= fields.vehicle_model.here() %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <!--<input type="button" style="color: deepskyblue; border-color: deepskyblue; border-radius: 5px; background-color: white; font-size: 1em;" value="Add This Vehicle">-->
        <%= methods.select.here()%>
      </td>
    </tr>
  </table>
</div>