<div style=" width: 800px;">
  <span style="color: #f6a828;"><h2>Provide Details</h2></span>

  <div style="width: 650px;">
    <%= fields.policyholder.here() %>


    <div style="text-align: center; ">

            <span>
              <%= methods.previous.here() %>
            </span>&nbsp;
            <span>
                <%= methods.next.here() %>
            </span>
    </div>

  </div>
</div>
