<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div style=" width: 800px;">
<span style="color: #f6a828">
    <h2>Provide Policyholder Name & Address</h2>
</span>

  <div class="nameTag" style="width: 650px;">

    <%= fields.policyholder.here() %>
    <div style="text-align: center; ">
      <%= methods.startMyQoute.here() %>
      <br>

      <div><input type="button" value="No Thanks"
                  style="font-size: medium; border: 0px; background-color: white; color: aqua; font-size: large;"></div>
    </div>
  </div>

</div>
</body>
</html>