<div style=" width: 800px;">
  <span style="color: #f6a828;"><h2>Add vehicles to Your Quote</h2></span>
  <span><h4>Add Vehicle(s) Using Pulldown Menus</h4></span>
  <br>

  <%= fields.vehicles.here() %>
  <br>

  <!--<div class="vehicleCountTag" style="width: 640px;">-->
    <!--<span>1 Vehicle On Your Quote (order does not matter)</span>-->

    <!--<div class="selectedVehicle" style="width: 640px; border: solid 1px; ">-->
      <!--<table style="border: solid 1px; width: 150px; height: 130px; ">-->
        <!--<tr style="border: solid 1px; text-align: center;">-->
          <!--<td colspan="2">-->
            <!--<img src="resources/images/symbol/itemIMG/car1.jpg" style="width: 120px; height: 80px; "/>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<tr style="text-align: center;">-->
          <!--<td colspan="2">2009 Volvo S60</td>-->
        <!--</tr>-->
        <!--<tr style="text-align: center;">-->
          <!--<td>-->
            <!--<input type="button" value="Edit"-->
                   <!--style="border-color: aqua; border-radius: 8px; color: aqua; font-size: medium; background-color: white; "/>-->
            <!--|-->
          <!--</td>-->
          <!--<td>-->
            <!--<input type="button" value="Remove"-->
                   <!--style="border-color: aqua; border-radius: 8px; color: aqua; font-size: medium; background-color: white; "/>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</div>-->

    <div style="text-align: center; ">

            <span>
                <!--<input type="button" value="< Back" style="background-color: white; color: aqua; border: hidden 0px; font-size: large; ">-->
              <%= methods.previous.here()%>
            </span>&nbsp;
            <span>
                <!--<input type="button" value="Next" style="background-color: aqua; color: white; border-radius: 7px; font-size: 1.5em; width: 120px;">-->
              <%= methods.next.here()%>
            </span>
    </div>
  </div>
</div>